.imagem-carrossel {
    object-fit: cover; /* Ajudsta a imagem */
    object-position: 0 80%; /*Move a imagem */
    height: 400px;
}

.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.cor-especial{
    color: darkred;
}

.botao-cor-especial {
    background-color: darkred; 
    color: white;
}

.botao-cor-especial:hover {
    background-color: white; 
    color: darkred;
}

.borda-cor-especial {
    border-color: darkred;
}